.App {
  text-align: center;
  background: #f2f2f2;
  -webkit-font-smoothing: antialiased;
  border-radius: 4px;
  margin-top: 16px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-title {
  background: #fff;
  color: #222;
  padding: 10px;
  border-radius: 4px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.app-btn-wrap {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.app-btn-wrap .app-btn-wrap-confirm {
  margin-right: 8px;
}

.webview-key-error {
  color: #c45454;
  font-size: 12px;
  margin: 0;
}

.next-table td .next-table-cell-wrapper {
  padding: 4px 8px;
}

.medusa-review-table.next-table th .next-table-cell-wrapper {
  text-align: center;
}
.medusa-review-table .wether-use-key {
  display: inline-block;
  margin-right: 4px;
}